a {
  color: orange;

  &:visited {
    color: turquoise;
  }

  &:hover {
    color: red;
  }

  &:focus {
    color:purple;
  }

  &:active {
    color:white;
  }
}
  
div {
  & span {
    color: olive;
    &:nth-of-type(even) {
      color: purple;
    }
    &:first-of-type {
      color:red;
    } 
    &:not(.cls ) {
      color: white;
    }
  }
}